<nav class="site-nav">
  <div class="trigger">
    <a class="page-link" href="{{ site.baseurl }}/">Home</a>
    <a class="page-link" href="{{ site.baseurl }}/getting-started/">Getting Started</a>
    <a class="page-link" href="{{ site.baseurl }}/tokens/">Tokens</a>
    <a class="page-link" href="{{ site.baseurl }}/trading/">Trading</a>
    <a class="page-link" href="{{ site.baseurl }}/agents/">Agents</a>
    <a class="page-link" href="{{ site.baseurl }}/wallets/">Wallets</a>
    <a class="page-link" href="{{ site.baseurl }}/blockchain/">Blockchain</a>
    <a class="page-link" href="{{ site.baseurl }}/api/">API Reference</a>
  </div>
</nav>
